@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: rgb(30, 11, 24);
  background: linear-gradient(
    90deg,
    rgba(30, 11, 24, 1) 0%,
    rgba(15, 15, 21, 1) 100%
  );
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.navbar-bg {
  background: #0e1015;
}

.compose-bg {
  background: #130b16;
}

.gradient-bg {
  background: #0e0911;
}

.red-text {
  color: #ea103c;
}
